@require './includes/colors'
@require './includes/buttons'
@require './includes/inputs'
@require './includes/pages'
@require './includes/navbar'
@require './includes/dropzone'


body
  color $c-black

.content
  position relative
  top 45px
