
.button-action
  border-radius 20px
  padding-top 10px
  padding-bottom 10px
  padding-right 20px
  padding-left 20px
  border 0
  min-width 200px
  margin-top 20px
  .fa
    margin-top 3px

.button-blue
  background-color $c-btn-blue
  color $c-white

.button-fb
  background-color $c-btn-fb-blue
  color $c-white

.button-grey
  background-color $c-btn-grey
  color #928C8C

.button-green
  background-color #3DBF35
  color $c-white
